body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1003px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u808 {
  position:absolute;
  left:3px;
  top:20px;
  width:1000px;
  height:1px;
  color:#E5E5E5;
}
#u809 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u810 {
  position:absolute;
  left:0px;
  top:204px;
  width:1000px;
  height:1px;
}
#u811 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:19px;
}
#u812 {
  position:absolute;
  left:369px;
  top:218px;
  width:133px;
  height:19px;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:19px;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:19px;
}
#u814 {
  position:absolute;
  left:508px;
  top:218px;
  width:187px;
  height:19px;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:19px;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u816 {
  position:absolute;
  left:508px;
  top:31px;
  width:65px;
  height:19px;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:19px;
}
#u817 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u818 {
  position:absolute;
  left:508px;
  top:62px;
  width:65px;
  height:19px;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:19px;
}
#u819 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u820 {
  position:absolute;
  left:508px;
  top:95px;
  width:65px;
  height:19px;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:19px;
}
#u821 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u822 {
  position:absolute;
  left:508px;
  top:124px;
  width:65px;
  height:19px;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:19px;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u824 {
  position:absolute;
  left:618px;
  top:31px;
  width:65px;
  height:19px;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:19px;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u826 {
  position:absolute;
  left:618px;
  top:62px;
  width:65px;
  height:19px;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:19px;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u828 {
  position:absolute;
  left:618px;
  top:95px;
  width:65px;
  height:19px;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:19px;
}
#u829 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u830 {
  position:absolute;
  left:732px;
  top:31px;
  width:65px;
  height:19px;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:19px;
}
#u831 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u832 {
  position:absolute;
  left:732px;
  top:62px;
  width:65px;
  height:19px;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:19px;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u834 {
  position:absolute;
  left:732px;
  top:95px;
  width:65px;
  height:19px;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:19px;
}
#u835 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
