body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:100px;
  background:inherit;
  background-color:rgba(106, 179, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1326 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:100px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:42px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_ann {
  position:absolute;
  left:993px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u1328 {
  position:absolute;
  left:5px;
  top:5px;
  width:90px;
  height:90px;
}
#u1329 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328_ann {
  position:absolute;
  left:88px;
  top:1px;
  width:1px;
  height:1px;
}
#u1330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1330 {
  position:absolute;
  left:100px;
  top:5px;
  width:190px;
  height:90px;
}
#u1331 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u1330_ann {
  position:absolute;
  left:283px;
  top:1px;
  width:1px;
  height:1px;
}
#u1332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:101px;
}
#u1332 {
  position:absolute;
  left:295px;
  top:0px;
  width:1px;
  height:100px;
}
#u1333 {
  position:absolute;
  left:2px;
  top:42px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_ann {
  position:absolute;
  left:289px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:2px;
}
#u1334 {
  position:absolute;
  left:296px;
  top:40px;
  width:704px;
  height:1px;
}
#u1335 {
  position:absolute;
  left:2px;
  top:-8px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u1336 {
  position:absolute;
  left:5px;
  top:5px;
  width:90px;
  height:90px;
}
#u1337 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1336_ann {
  position:absolute;
  left:88px;
  top:1px;
  width:1px;
  height:1px;
}
#u1338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(106, 179, 68, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1338 {
  position:absolute;
  left:888px;
  top:5px;
  width:95px;
  height:30px;
}
#u1339 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  word-wrap:break-word;
}
#u1340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  background:inherit;
  background-color:rgba(106, 179, 68, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1340 {
  position:absolute;
  left:779px;
  top:5px;
  width:99px;
  height:30px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1342 {
  position:absolute;
  left:858px;
  top:5px;
  width:20px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u1343 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1344 {
  position:absolute;
  left:975px;
  top:5px;
  width:20px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u1345 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u1346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  background:inherit;
  background-color:rgba(106, 179, 68, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1346 {
  position:absolute;
  left:681px;
  top:5px;
  width:99px;
  height:30px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1348 {
  position:absolute;
  left:750px;
  top:5px;
  width:20px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u1349 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
#u1350 {
  position:absolute;
  left:308px;
  top:50px;
  width:122px;
  height:40px;
  font-size:26px;
}
#u1351 {
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u1352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
}
#u1352 {
  position:absolute;
  left:449px;
  top:50px;
  width:62px;
  height:40px;
  font-size:26px;
}
#u1353 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
